@import url(http://fonts.googleapis.com/css?family=Gabriela);

html, body {
  height: 100%;
  min-height: 100%;
}

img {
  border-radius: 10px;
  box-shadow: 2px 2px 40px;
}

body {
  background: url(../images/backgrounds/architecture.jpg) center no-repeat;
  background-size: cover;
  background-attachment: fixed;
  font-family: Helvetica, Arial, sans-serif;
  font-size: 100%;
}

.wrapper {
  margin: 0 auto;
  width: 60%;
  padding-bottom: 40px;
}

#content {
  padding: 20px;
  background: rgba(255,255,255,.85);
}

#content {
  border-radius: 5px;
   background: linear-gradient(135deg, orange, orange 60%, cyan);
}

h1, h2 {
  font-family: 'Gabriela', serif;
  color: #fff;
}

h1 {
  font-size: 3.5em;
  margin-bottom: 0;
  color: darkgray;
}

h2 {
  font-size: 1.5em;
  margin-top: .5em;
  color: lightgray;
}

img:hover {
  transform: scale(1.05);
}

h3 {
  font-family: 'Gabriela', serif;
  font-size: 1.5em;
  margin-top: .5em;
}

h3 {
  margin-top: 1.5rem;
  margin-left: 1.5rem;
  text-decoration: underline;
  color: dodgerblue;
}

img {
  max-width: 100%;
  width: 100%;
  height: auto;
  transition: .5s;
}

p {
  font-size: 1em;
  margin: 1.5rem;
  color: #666;
}

a {
  color: purple;
  text-decoration: inherit;
}

a:hover {
  text-decoration: underline;
}

@media only screen and (max-width: 1042px) {
  .wrapper {
    width: 80%;
  }
}

@media only screen and (max-width: 784px) {
  body {
    font-size: 120%;
  }
  h1 {
    font-size: 2.5em;
  }
  h2 {
    font-size: 1em;
  }
  .wrapper {
    width: 95%;
  }
}